@charset UTF-8;

@media screen and (min-width: 768px) /*Dispositivos maiores*/
{
    section#login{
        position: absolute;
        transform: translate(-50% , -80%);
        width: 600px;
        height: 300px;
    }
    section#login > div#img{
        display: inline-block;
        width: 250px;
        height: 100%;
        background-position: 30% 0%;
    }

    section#login > div#form{
        position: absolute;
        transform: translate(0% , 0%);
        width: 350px;
        display: inline-block;
    }
}