@charset UTF-8;

/*
    Paleta de cores
    rgb(103,142,18)
    rgb(75,13,9)
    rgb(219,145,54)
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body , html{
    background-image: linear-gradient(rgb(50, 13, 9),rgb(140, 13, 9));
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.556);
}

section#login > div#img{
    display: block;
    background: rgb(75,13,9) url(../imagens/bola_login.jpg);
    height: 150px;
    background-size: cover;
    background-position: center bottom;
}

section#login > div#form{
    display: block;
    padding: 10px;
}

section#login  > div#form > h1{
    margin: 0px 0px 10px 0px;
}

section#login > div#form > form{
    width: 220px;
    padding: 10px;
    font-weight: 600;
    margin: auto;
}

section#login > div#form > form > input{
    border: 1px solid rgba(0, 0, 0, 0.729);
    border-radius: 3px;
    padding: 2px;
    width: 200px;
}

section#login > div#form > form > input.botao{
    width: 81px;
    margin: 10px 8px 0px 8px;
    background-color: darkgray;
    font-weight: 500 !important;
}

section#login > div#form > form > input.botao:hover{
    background-color: lightgrey;

}